<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h4>Our Newsletter</h4>
          <p>
            Tamen quem nulla quae legam multos aute sint culpa legam noster
            magna
          </p>
        </div>
        <div class="col-lg-6">
          <form action="" method="post">
            <input type="email" name="email" /><input
              type="submit"
              value="Subscribe"
            />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>{{footer1.0.title}}</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="{{footer1.0.url1}}">{{footer1.0.urlname1}}</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="{{footer1.0.url2}}">{{footer1.0.urlname2}}</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="{{footer1.0.url3}}">{{footer1.0.urlname3}}</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="{{footer1.0.url4}}">{{footer1.0.urlname4}}</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="{{footer1.0.url5}}">{{footer1.0.urlname5}}</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>{{footer2.0.title}}</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="{{footer2.0.url1}}">{{footer2.0.urlname1}}</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="{{footer2.0.url2}}">{{footer2.0.urlname2}}</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="{{footer2.0.url3}}">{{footer2.0.urlname3}}</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="{{footer2.0.url4}}">{{footer2.0.urlname4}}</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="{{footer2.0.url5}}">{{footer2.0.urlname5}}</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>{{footer3.0.title}}</h4>
          <p>
            {{footer3.0.address1}}<br />
            {{footer3.0.address2}}<br />
            {{footer3.0.address3}}<br /><br />
            <strong>Phone:</strong> {{footer3.0.number}}<br />
            <strong>Email:</strong> {{footer3.0.email}}<br />
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-info">
          <h3>{{footer4.0.title}}</h3>
          <p>{{footer4.0.shorttext}}</p>
          <div class="social-links mt-3">
            <a href="{{footer4.0.twitter}}" class="twitter"
              ><i class="bx bxl-twitter"></i
            ></a>
            <a href="{{footer4.0.facebook}}" class="facebook"
              ><i class="bx bxl-facebook"></i
            ></a>
            <a href="{{footer4.0.instagram}}" class="instagram"
              ><i class="bx bxl-instagram"></i
            ></a>
            <a href="{{footer4.0.skype}}" class="google-plus"
              ><i class="bx bxl-skype"></i
            ></a>
            <a href="{{footer4.0.linkedin}}" class="linkedin"
              ><i class="bx bxl-linkedin"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">&copy; {{footer4.0.copy_right}}</div>
  </div>
</footer>
<!-- End Footer -->
