{% extends 'base.html' %}
{% load static %}
{% block title %}
 <title> contact page </title>
{% endblock %}
{% block contactactive %} active {% endblock %}
{% block content %}

  <main id="main">
    {% if submitted %}
      </br>
      </br>

      <center>
      <h3 class="bg-success text-light">Congratulations</h3>
      You submitted successfully!!
      </center>
      </br>
      </br>
      </br>
      </br>
      </br>
    {% else %}
         <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'index'%}">Home</a></li>
          <li>Contact</li>
        </ol>
        <h2>Contact</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>{{top_contactdata.0.title}}</h3>
              <p>{{top_contactdata.0.address}}</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>{{top_contactdata2.0.title}}</h3>
              <p>{{top_contactdata2.0.email}}</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>{{top_contactdata3.0.title}}</h3>
              <p>{{top_contactdata3.0.phone_number}}</p>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
            <form action="" method="post" role="form">
              {%csrf_token%}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="error-message"></div>

              </div>
              {% if user.is_authenticated%}
              <div class="text-center"><button type="submit" class="btn btn-success">Send Message</button></div>
              {% else %}
               <H7 class="d-flex align-items-center ms-4"><a style="color:tomato; padding:10px" href="{% url 'account'%}">REGISTER</a> OR
                <a style="color:tomato; padding:10px" href="{% url 'login'%}"> LOGIN </a> TO SUBMIT FORM</H7>
              {% endif %}
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

    {% endif %}


  </main><!-- End #main -->

 {% endblock %}